<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.sindquimicace">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- notifications -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="br.com.martinlabs.dnacoachtreinador.android.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_sindquimica"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginAct"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UsuarioAct"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.HomeAct"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.EsqueciSenhaAct"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.ValidarBiometria" />
        <activity android:name=".activity.ValidaFoto" />

        <service android:name=".notifications.SFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notifications.SFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activity.EventoAct" />
        <activity
            android:name=".activity.SendMessageAct"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EditUsuarioAct"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MsgUsuariosAct"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MensagensGrupoAct"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EventosAct"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.DetalheEventoAct"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.MsgGrupoAct"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>